<html>
 <head>
     <title>Deletar</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body>
 <form action="delete" method="POST" modelAttribute="cliente">
 ID:<br>
   <input type="text" name="id" th:value="${cliente.id}" readOnly="true"><br>
   <br>
   Nome Cliente:<br>
   <input type="text" name="nome" th:value="${cliente.nome}" readOnly="true"><br>
   <br>
   CPF Cliente:<br>
   <input type="text" name="cpf" th:value="${cliente.cpf}" readOnly="true"><br>
   <br>
   E-mail Cliente:<br>
   <input type="text" name="email" th:value="${cliente.email}" readOnly="true"><br>
   <br>
   Telefone Cliente:<br>
   <input type="text" name="telefone" th:value="${cliente.telefone}" readOnly="true"><br>
   
   <input type="submit" value="Deletar">
 </form>
 </body>
</html>