<html>
 <head>
     <title>Deletar</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body>
 <form action="delete" method="POST" modelAttribute="funcionario">
 ID:<br>
   <input type="text" name="id" th:value="${funcionario.id}" readOnly="true"><br>
   <br>
   Nome:<br>
   <input type="text" name="nome" th:value="${funcionario.nome}" readOnly="true"><br>
   <br>
   Matrícula:<br>
   <input type="text" name="matricula" th:value="${funcionario.matricula}" readOnly="true"><br>
   <br>
   Cargo:<br>
   <input type="text" name="cargo" th:value="${funcionario.cargo}" readOnly="true"><br>
   
   <input type="submit" value="Deletar">
 </form>
 </body>
</html>