<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="@{~/base/layout}">
<head>
   <title>Inserir</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <style type="text/css">
      table{
        text-align: center;
      }
     .acoes {
      text-decoration:none;
      color: white;
     }
     .acoes:hover {
      text-decoration:none;
      color: white;
     }
   </style>
</head>
<body>
<section layout:fragment="content">
 	<div class="container"><br>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Funcionarios</h2>
        </div>
        <div class="col-md-4">
          
        </div>
        <div class="col-md-2">
          <button class="btn btn-secondary"><a class="acoes" th:href="@{/funcionario/insert}">Adicionar novo</a></button>
        </div>
      </div>
    </div><br>
 		<table class="table table-bordered table-hover">
	 		<thead>
	 			<th>Nome</th>
	 			<th>Matrícula</th>
	 			<th>Cargo</th>
        <th width="20%">Ações</th>
	 		</thead>
	 		<tbody th:each="funcionario : ${funcionarios}">
	 			<td><span th:text="${funcionario.nome}"></span></td>
	 			<td><span th:text="${funcionario.matricula}"></span></td>
	 			<td><span th:text="${funcionario.cargo}"></span></td>
        <td>
          <button class="btn btn-success btn-sm"><a class="acoes" th:href="@{/funcionario/update(id=${funcionario.id})}">Editar</a></button>
          <button class="btn btn-danger btn-sm"><a class="acoes" th:href="@{/funcionario/delete(id=${funcionario.id})}">Deletar</a></button>
        </td>
	 		</tbody>
	 	</table>
 	</div>
 </section>
 </body>
</html>