<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="@{~/base/layout}">
<head>
    <title>Atualizar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section layout:fragment="content">
<div class="container"><br>
  <form action="update" method="POST" modelAttribute="funcionario">
    <div class="row">
      <div class="col-md-3">
        <label>Nome:</label>
        <input class="form-control" type="text" name="nome" th:value="${funcionario.nome}"><br>    
      </div>
      <div class="col-md-3">
        <label>Matrícula:</label>
        <input class="form-control" type="text" name="matricula" th:value="${funcionario.matricula}"><br>    
      </div>
      <div class="col-md-3">
        <label>Cargo:</label>
        <input class="form-control" type="text" name="cargo" th:value="${funcionario.cargo}"><br>    
      </div>
      <input type="hidden" class="form-control" name="id" th:value="${funcionario.id}"><br>  
    </div><br>
    <div class="row">
      <div class="col-md-7">
          
      </div>
      <div class="col-md-3">
        <input type="submit" class="btn btn-success" value="Atualizar">
        <a href="read"><input class="btn btn-danger" type="button" value="Cancelar"></a>  
      </div>
    </div>
  </form>
</div>
</section>
</body>
</html>