<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="@{~/base/layout}">
   <head>
      <meta charset="UTF-8">
      <title>Product List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>       
   <section layout:fragment="content">
   <div class="container">
      <div class="page-title">Lista de produtos</div><br>
		<div class="row">
		  <div class="product-preview-container col-md-4" th:each="prodInfo : ${paginationProducts.list}">
		  	<div width="100%">
		     <ul style="list-style: none;">
		        <li><img width="120px" height="80px" class="product-image" th:src="@{|/productImage?code=${prodInfo.code}|}" /></li>
		        <li>Nome: <span th:utext="${prodInfo.name}"></span></li>
		        <li>Preço: R$ <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span></li>
		        <li>
		           <a th:href="@{|/buyProduct?code=${prodInfo.code}|}">Comprar agora</a>
		        </li>
		        <!-- For Manager edit Product -->
		        <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
		           <li>
		             <a style="color:red;"
		                th:href="@{|/admin/product?code=${prodInfo.code}|}">Editar Produto</a>
		           </li>
		        </th:block>
		     </ul>
		    </div>
		  </div>
		</div>
      <br/>
      <div class="page-navigator" th:if="${paginationProducts.totalPages > 1}">
         <th:block th:each="page : ${paginationProducts.navigationPages}">
         
            <a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>
               
            <span class="nav-item" th:if="${page == -1}"> ... </span>
             
         </th:block>
      </div>
   </div>
   </section>
   </body>
</html>