<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base/layout">
<head>
   <title>Inserir</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container"><br>
 <form action="insert" method="POST" modelAttribute="cliente">
    <div class="row">
      <div class="col-md-3">
        <label for="nome">Nome: </label>
        <input class="form-control" type="text" name="nome" placeholder="Digite o nome" autocomplete="off" required>   
      </div>
      <div class="col-md-3">
        <label for="cpf">CPF: </label>
        <input class="form-control" type="text" name="cpf" placeholder="Digite o CPF" autocomplete="off" required>   
      </div>
      <div class="col-md-3">
        <label for="email">E-mail: </label>
        <input class="form-control" type="email" name="email" placeholder="Digite o e-mail" autocomplete="off" required>   
      </div>
      <div class="col-md-3">
        <label for="telefone">Telefone: </label>
        <input class="form-control" type="text" name="telefone" placeholder="Digite o telefone" autocomplete="off" required>   
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-9">
        
      </div>
      <div class="col-md-3">
        <input type="submit" class="btn btn-success" value="Inserir">
        <a href="read"><input class="btn btn-danger" type="button" value="Cancelar"></a>  
      </div>
    </div>
  </form>
</div>
</body>
</html>