<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="@{~/base/layout}">
<head>
   <title>Read</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <style type="text/css">
      table{
        text-align: center;
      }
     .acoes {
      text-decoration:none;
      color: white;
     }
     .acoes:hover {
      text-decoration:none;
      color: white;
     }
   </style>
</head>
<body>
<section layout:fragment="content">
<div class="container"><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Clientes</h2>
      </div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary"><a class="acoes" th:href="@{/cliente/insert}">Adicionar novo</a></button>
      </div>
    </div>
  </div><br>
		<table class="table table-bordered table-hover">
 		<thead>
 			<th width="20%">Nome</th>
 			<th width="20%">CPF</th>
 			<th width="20%">E-mail</th>
 			<th width="20%">Telefone</th>
      <th width="20%">Ações</th>
 		</thead>
 		<tbody th:each="cliente : ${clientes}">
 			<td><span th:text="${cliente.nome}"></span></td>
 			<td><span th:text="${cliente.cpf}"></span></td>
 			<td><span th:text="${cliente.email}"></span></td>
 			<td><span th:text="${cliente.telefone}"></span></td>
      <td>
        <button class="btn btn-success btn-sm"><a class="acoes" th:href="@{/cliente/update(id=${cliente.id})}">Editar</a></button>
        <button class="btn btn-danger btn-sm"><a class="acoes" th:href="@{/cliente/delete(id=${cliente.id})}">Deletar</a></button>
      </td>
 		</tbody>
 	</table>
</div>
</section>
</body>
</html>