<html>
 <head>
     <title>Inserir</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body>
 <form action="insert" method="POST" modelAttribute="cliente">
 
   Nome Cliente:<br>
   <input type="text" name="nome"><br>
   <br>
   CPF Cliente:<br>
   <input type="text" name="cpf"><br>
   <br>
   E-mail Cliente:<br>
   <input type="text" name="email"><br>
   <br>
   Telefone Cliente:<br>
   <input type="text" name="telefone"><br>
   
   <input type="submit" value="Inserir">
 </form>
 </body>
</html>