<html>
 <head>
     <title>Atualizar</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body>
 <form action="update" method="POST" modelAttribute="venda">
 
 ID:<br>
   <input type="text" name="id" th:value="${venda.id}" readOnly="true"><br>
   <br>
   Funcionario:<br>
   <select th:field="*{venda.funcionarios}">
       <option th:each="f : ${funcionarios}" th:value="${f.id}" th:text="${f.nome}" th:selected="${venda.funcionarios.id}"></option>
   </select>
   <br>
   Cliente:<br>
   <select th:field="*{venda.clientes}">
       <option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nome}" th:selected="${venda.clientes.id}"></option>
   </select>
   <br>
   Produto:<br>
   <select th:field="*{venda.produtos}">
       <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}" th:selected="${venda.produtos.id}"></option>
   </select>
   <br>
   Quantidade:<br>
   <input type="number" name="quantidade" th:value="${venda.quantidade}"><br>
   <br>
   Data Venda:<br>
   <input type="date" name="data_venda" th:value="${venda.data_venda}"><br>
   
   <input type="submit" value="Atualizar">
 </form>
 </body>
</html>