<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
    <title>Farmacia</title>
 
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/icomoon/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/aos.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  
</head>
<body>
 
<!-- FORM QUE VAI SER USADO PARA REALIZAR O LOGOUT -->
<form th:action="@{/logout}" id="form_logou"	th:method="post">
<input type="hidden"	th:name="${_csrf.parameterName}"	th:value="${_csrf.token}"/>
</form>

<div class="site-navbar py-2">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo">
        <div class="site-logo">
          <a href="index.html" class="js-logo-clone">Farmamig</a>
        </div>
      </div>
      <div class="main-nav d-none d-lg-block">
        <nav class="site-navigation text-right text-md-center" role="navigation">
          <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/produto/read}">Produtos</a></li>                
            <li><a th:href="@{/cliente/read}">Clientes</a></li>
            <li><a th:href="@{/funcionario/read}">Funcionários</a></li>
          </ul>
        </nav>
      </div>
      <div class="icons">            
        <a href="cart.html" class="icons-btn d-inline-block bag">
          <span class="icon-shopping-bag"></span>
          <span class="number">0</span>
        </a>
        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
            class="icon-menu"></span></a>
      </div>
    </div>
  </div>
</div>
<main>
  <div layout:fragment="content"></div>
</main>
</body>
</html>