<html>
 <head>
     <title>Deletar</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body>
 <form action="delete" method="POST" modelAttribute="produto">
 ID:<br>
   <input type="text" name="id" th:value="${produto.id}" readOnly="true"><br>
   <br>
   Nome:<br>
   <input type="text" name="nome" th:value="${produto.nome}" readOnly="true"><br>
   <br>
   Categoria:<br>
   <input type="text" name="categoria" th:value="${produto.categoria}" readOnly="true"><br>
   <br>
   Preço:<br>
   <input type="number" name="preco" th:value="${produto.preco}" readOnly="true"><br>
   <br>
   Estoque:<br>
   <input type="number" name="quantidade" th:value="${produto.quantidade}" readOnly="true"><br>
   
   <input type="submit" value="Deletar">
 </form>
 </body>
</html>