<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorator="@{~/base/layout}">
<head>
   <title>Inserir</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section layout:fragment="content">
<div class="container"><br>
 <form action="insert" method="POST" modelAttribute="produto">
	 <div class="row">
	      <div class="col-md-3">
	        <label for="nome">Nome: </label>
	        <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite o nome" autocomplete="off">   
	      </div>
	      <div class="col-md-3">
	        <label for="categoria">Categoria: </label>
	        <input class="form-control" type="text" name="categoria" id="categoria" placeholder="Digite a categoria" autocomplete="off">   
	      </div>
	      <div class="col-md-3">
	        <label for="preco">Preco: </label>
	        <input class="form-control" type="text" name="preco" id="preco" placeholder="Digite o preço" autocomplete="off">   
	      </div>
	      <div class="col-md-3">
	        <label for="quantidade">Quantidade: </label>
	        <input class="form-control" type="text" name="quantidade" id="quantidade" placeholder="Digite a quantidade" autocomplete="off">   
	      </div>
	 </div>
	 <br>
	<div class="row">
      <div class="col-md-9">
        
      </div>
      <div class="col-md-3">
        <input type="submit" class="btn btn-success" value="Inserir">
        <a href="read"><input class="btn btn-danger" type="button" value="Cancelar"></a>  
      </div>
    </div>
 </form>
</div>
</section>
 </body>
</html>