<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorator="@{~/base/layout}">
 <head>
     <title>Atualizar</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body>
<section layout:fragment="content">
<div class="container"><br>
 <form action="update" method="POST" modelAttribute="produto">
  <div class="row">
    <div class="col-md-3">
      <label>Nome:</label>
      <input class="form-control" type="text" name="nome" th:value="${produto.nome}">
    </div>
    <div class="col-md-3">
      <label>Categoria:</label>
      <input class="form-control" type="text" name="categoria" th:value="${produto.categoria}">
    </div>
    <div class="col-md-3">
      <label>Preço:</label>
      <input class="form-control" type="number" name="preco" th:value="${produto.preco}" step="0.01">
    </div>
    <div class="col-md-3">
      <label>Estoque:</label>
      <input class="form-control" type="number" name="quantidade" th:value="${produto.quantidade}">
    </div>
  </div>
   <br>
    <div class="row">
      <div class="col-md-7">
          
      </div>
      <div class="col-md-3">
        <input type="submit" class="btn btn-success" value="Atualizar">
        <a href="read"><input class="btn btn-danger" type="button" value="Cancelar"></a>  
      </div>
    </div>
 </form>
 </div>
 </section>
 </body>
</html>